[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
attrs = "*"
black = "*"
click = "*"
iniconfig = "*"
mypy-extensions = "*"
pathspec = "*"
pluggy = "*"
py = "*"
pyparsing = "*"
pytest = "*"
regex = "*"
toml = "*"
typed-ast = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
